@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--light-gray);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 1px 1px 15px #b6b5b5;
    max-width: 330px;
}
.image img{
    margin-top: 16px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.content{
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    cursor: pointer;
}
.title{
    font-size: 25px;
    padding: 0 1.2rem;
    color: var(--dark-blue);
}
.subtitle{
    color: var(--grayish-blue);
    padding: .5rem 1.2rem 2rem 1.2rem;
}
